.tablaCapa {
    padding: 10px;
    
}
.dt-column-title{
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
}

.dt-search{
        font-family: 'DM Sans';
}
tr {
        background: #ff92008f;
    text-align: start;
}
.dt-scroll-head{
        border-radius: 10px 10px 0 0;
}
.dt-scroll-body{
font-family: 'DM Sans';
  font-weight: 400;  
}