#root {
  margin: 0 auto;

  text-align: center;
}

.divicionPantalla{
  display: flex;
   height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 15%;
  z-index: 2;
  min-width: 150px;
  background-color: #212121;
  color: white;
  height: 100vh;
  position: sticky; /* o fixed si prefieres que se quede incluso al hacer scroll general */
  top: 0;
  overflow-y: auto; /* solo si quieres scroll en el sidebar */
}

.mainContent {
  flex-grow: 1;
  z-index: 1;
  overflow-y: auto;
  height: 100vh;
  background: #d1d5dc;

}

@media (max-width: 830px) {
  .divicionPantalla {
    flex-direction: column; /* Apilar Navbar arriba y contenido abajo */
  }

  .sidebar {
    display: none; /* Oculta el sidebar en pantallas pequeñas */
  }

  .mainContent {
    height: auto;
    overflow-y: auto;
  }
}