
.sidebar h2 {
  padding: 20px;
  font-size: 2.5rem;
   font-family: "Lobster Two", sans-serif;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  margin-bottom: 0px;
  margin-top: 0;
  color: #DC7209;
  border-bottom: 2px solid #656565;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  font-family: "Hammersmith One", sans-serif;
    padding: 20px;
     border-bottom: 2px solid #656565;
     text-align: start;
  
     color: white;
     display: flex;
      align-items: center;
      justify-content: center;
}

.sidebar ul li:hover {
  background-color: #fa9a0159;
  cursor: pointer;
}
.sidebar .active li{
  background-color: #fa9a0159;
}
.sidebar ul a{
  text-decoration: none;
}

.icono-sidebar{
  color: #DC7209;
  margin-left: 10px;
}
.iniciarSesion {
  font-size: 14px;
  color: #ffae00;
  animation: neonBlink 3s infinite;
}
.admin-header {
  transition: all 0.3 ease-in ;
}
.admin{
  border-bottom: 2px solid #DC7209 !important ;
}
.submenu li{
  padding: 15px 20px !important;
  border-bottom: 2px solid #DC7209 !important;
}
.submenu li .icono-sidebar{
  margin-left: 0;
  margin-right: 10px;
}

@keyframes neonBlink {
  0%, 100% {
    text-shadow:
      0 0 5px #ffae00,
      0 0 10px #ffae00,
      0 0 20px #ffae00,
      0 0 40px #ff6a00,
      0 0 60px #ff6a00;
    opacity: 1;
  }
  50% {
    text-shadow: none;
    opacity: 0.4;
  }
}