.navbar {
  background-color: #212121;
  border-bottom: 1px solid #eee;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar h2 {
  font-family: "Lobster Two", sans-serif;
  color: #DC7209;
  margin: 0;
  font-size: 2rem;
}


/*.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #DC7209;
  cursor: pointer;
}*/
.sesion-Menu{
  display: flex;
  align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.sesion-Menu .iniciarSesion{
  list-style: none;
   font-family: "Hammersmith One", sans-serif;
   cursor: pointer;
}
.cerrarSesion{
  font-family: "Hammersmith One", sans-serif;
}
.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 1000;
}

.burger span {
  display: block;
  width: 30px;
  border-radius: 10px;
  height: 3px;
  background: #DC7209;
  margin: 6px 0;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.3s ease;
}

#burger-checkbox {
  display: none;
}

#burger-checkbox:checked + .burger span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#burger-checkbox:checked + .burger span:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}

#burger-checkbox:checked + .burger span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.flecha{
  min-width: 12px;
  min-height: 12px;
}
.ul-navbar {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
   opacity: 0;
  z-index: 1000;
  transform: translateY(-10px);
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.ul-navbar.open {
  max-height: 300px; /* o más, dependiendo de cuánto contenido hay */
  opacity: 1;
  transform: translateY(0);
}


.ul-navbar li {
  font-family: "Hammersmith One", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.ul-navbar li:hover {
  background-color: #fa9a0159;
  cursor: pointer;
}

.submenu-navbar li .icono-navbar {
  margin-left: 0;
  margin-right: 10px;

}
.icono-navbar {
  color: #DC7209;
  margin-left: 10px;
}

.navbar ul a {
  text-decoration: none;
}

@media (max-width: 830px) {
  .hamburger {
    display: block;
  }

  .ul-navbar {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #212121e3;
    width: 60%;
    display: none;
    padding: 10px 0;
            border-radius: 0 0 10px 10px;
  }

  .ul-navbar.open {
    display: flex;
  }

  .ul-navbar li {
    justify-content: flex-start;
    padding: 10px 20px;
    border-top: 1px solid #444;
  }
}